// Styling for the masthead
header.masthead {
  text-align: center;
  color: white;
  background-color: black;
  // background-image: url("#{$header-image}");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  .intro-text {
    padding-top: 100px;
    padding-bottom: 25px;
    .intro-lead-in {
      font-size: 30px;
      font-weight: 700;
      line-height: 75px;
      margin-bottom: 50px;
      @include heading-font;
    }
    .intro-heading {
      font-size: 20px;
      font-weight: 700;
      line-height: 75px;
      margin-bottom: 50px;
      @include heading-font;
    }
  }
}
@media (min-width: 768px) {
  header.masthead {
    .intro-text {
      padding-top: 100px;
      padding-bottom: 25px;
      .intro-lead-in {
        font-size: 30px;
        font-weight: 700;
        line-height: 75px;
        margin-bottom: 10px;
        @include heading-font;
      }
      .intro-heading {
        font-size: 20px;
        font-weight: 700;
        line-height: 75px;
        margin-bottom: 50px;
        @include heading-font;
      }
    }
  }
}
